.cartContainer {
	display: flex;
	flex-direction: row-reverse;
	align-items: flex-start;
	max-width: 1500px;
	height: 100vh;
	margin: 0px auto;
	padding: 20px;
}
.cartContainer__checkOut {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 90px;
	padding: 12px;
	background-color: white;
}
.cartContainer__checkOut_subtotal {
	margin-bottom: 25px;
}
.checkoutBtn {
	width: 180px;
	padding: 5px;
	border: none;
}
/* ===== */

.cartConainer__cart {
	width: 80%;
	margin-right: 15px;
	background-color: white;
	padding: 10px;
}
.cartConainer__cart h1 {
	font-size: 24px;
	font-weight: 80;
	margin-bottom: -8px;
}
.cartConainer__cart .pPrice {
	text-align: right;
	display: block;
}
.cartConainer__cart hr {
	margin-bottom: 10px;
	border-top: 1px solid gray;
}
/* ====== */

.cartContainer__total {
	text-align: right;
	padding: 5px 10px 10px 10px;
}
/* ==== */

@media screen and (max-width: 786px) {
	.cartContainer {
		display: block;
	}
	.cartContainer__checkOut {
		height: 90px;
		padding: 12px;
		margin-bottom: 15px;
	}
	.checkoutBtn {
		width: 100%;
		padding: 5px;
		border: none;
	}
	/* ===== */

	.cartConainer__cart {
		width: 100%;
	}
}
