.header {
  position: sticky;
  top: 0;
  /* z-index: 100; */
  height: 60px;
  background: rgb(0, 0, 0);
}
.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 10px;
}
.header__search {
  width: 70%;
}
.header__searchInput {
  width: 95%;
  padding: 12px 10px;
  border: none;
  border-radius: 5px 0px 0px 5px;
}
.header__searchIcon {
  padding: 7px;
  background-color: #e9aa5a;
  border-radius: 4px;
  margin: -5px;
}
.header__nav {
  width: 20%;
  display: flex;
  justify-content: space-around;
  margin: 10px;
  color: white;
}
.header__navOption {
  flex-direction: column;
}
.header__navOption_LineOne {
  font-size: 10px;
}
.header__navOption_LineTwo {
  font-size: 13px;
  font-weight: 800;
}
.header__cart_icon {
  color: white;
}
.header__cart p {
  padding: 5px;
}
