.productInCartContainer {
	display: flex;
	height: 200px;
	border-bottom: 1px solid gray;
	margin-bottom: 10px;
}
.product_img {
	margin: 10px;
}
.product_img img {
	width: 200px;
	height: 150px;
	object-fit: contain;
}
.product_info {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 70%;

	padding: 10px;
}
.product_info_text {
	height: 70%;
}
#inStock {
	color: green;
}
#quantity_select {
	width: 30px;
	margin-right: 5px;
	background-color: rgb(245, 227, 157);
	border-color: #a99734 #9c7e31 #846a29;
}
.removeProductBtn_btn {
	width: 120px;
	background-color: rgb(250, 216, 76);
	border-color: #a99734 #9c7e31 #846a29;
}
.product_price {
	width: 10%;
	padding: 10px;
	text-align: right;
}
