.productContainer {
	margin: 10px;
	height: 100%;
	width: 100%;
	background-color: white;
	box-sizing: border-box;
}
.productContainer:hover {
	transform: scale(1.05);
	box-shadow: 0 0 5px 2px gray;
}
.product__info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: 25%;
	padding: 15px;
	margin-bottom: 15px;
}
.product__info > p {
	margin-bottom: 5px;
}
.product__img {
	height: 51%;
}
.product__img > img {
	max-height: 200px;
	width: 100%;
	object-fit: contain;
}
.product__addBtn {
	height: 10%;
}
.product__addBtn_btn {
	background-color: rgb(250, 216, 76);
	border: 1px solid;
	border-color: #a99734 #9c7e31 #846a29;
	border-radius: 3px;
	padding: 2px 3px;
	font-weight: 600;
}
@media screen and (max-width: 786px) {
	.product__info {
		height: 40%;
		padding: 10px;
		margin-bottom: 0px;
	}
	.product__info > p {
		margin-bottom: 5px;
	}
	.product__info_title {
		line-height: 1.5em;
		height: 1.5em;
		overflow: hidden;
		font-size: 16px;
	}
	.product__info_rating {
		transform: scale(0.8);
	}
	.product__img {
		height: 40%;
	}
	.product__img > img {
		max-height: 80px;
	}
}
