.productContainer {
  margin: 10px;
  height: 100%;
  width: 100%;
  background-color: white;
}

.product__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 25%;
  padding: 15px;
  margin-bottom: 15px;
}
.product__info > p {
  margin-bottom: 5px;
}
.product__img {
  height: 51%;
}
.product__img > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
}
.product__addBtn {
  height: 10%;
}
.product__addBtn_btn {
  background-color: #e9aa5a;
  border: 1px solid;
  border-color: #a99734 #9c7e31 #846a29;
  border-radius: 3px;
  padding: 2px 3px;
  font-weight: 600;
}
