.acountFormContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	background-color: rgb(255, 255, 255);
}
.acountForm {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 60vh;
	min-height: 400px;
	margin-top: 15px;
}

.acountForm__header_img {
	object-fit: contain;
	width: 100px;
	height: 60px;
}
.acountForm__form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 300px;
	border: 1px solid rgb(211, 210, 210);
	margin-bottom: 50px;
	padding: 20px;
}
.acountForm__form h2 {
	font-size: 28px;
	font-weight: 300;
	margin-bottom: 15px;
}
.acountForm__form_input {
	width: 260px;
	margin-bottom: 10px;
	border: 1px solid gray;
	border-radius: 3px;
	padding: 5px;
	box-sizing: border-box;
	outline: none;
}
.acountForm__form_input::placeholder {
	font-size: 11px;
	color: rgb(165, 160, 160);
}
.acountForm__form_input:focus {
	border: 1px solid rgb(255, 216, 20);
	/* background-color: red; */
	box-shadow: 0 0 2px 2px rgb(235, 181, 101);
}
.acountForm__btn {
	width: 260px;
	border: 1px solid rgb(211, 210, 210);
	margin-bottom: 15px;
	padding: 5px;
}
.pPolicy,
.pGoToSignIn {
	font-size: 12px;
	margin-bottom: 12px;
}
.divider_txt {
	width: 100%;
	text-align: center;
}
h5 {
	display: inline-block;
	background-color: white;
	padding: 0 8px 0 7px;
	color: #767676;
	font-weight: 400;
}
.divider_txt::after {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	margin-bottom: 15px;
	margin-top: -8px;
	border-top: 2px solid #e7e7e7;
	background-color: transparent;
}
.create_acount_btn {
	background-color: black transparent;
	border: 1px solid gray;
	border-radius: 4px;
}

/*=====   register ======*/
.register__divider_txt {
	background-color: aqua;
	display: flex;
	justify-content: center;
	width: 105%;
	height: 3px;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.03) 30px, transparent);
	margin: 15px auto;
}
.register__divider_txt::after {
	display: block;
	height: 44px;
	width: 100%;
	background-color: transparent;
	background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0), #fff);
	content: "";
}
